.header-style {
    display: flex;             
    flex-direction: row;       
    align-items: center;        
    justify-content: space-between; 
    gap: 10px;                  
    padding:  10px 100px 10px 100px;
    font-family: var(--font-family);
}

.entries-section {
    display: flex;
    align-items: center;        
    flex-direction: column;
    gap: 20px;
    padding:  10px 100px 10px 100px;
}

.nav-links {
    display: flex;             
    gap: 20px;                 
}

.nav-link {
        color: var(--color-primary);             
        cursor: pointer;         
    }

    .nav-link:hover {
        color: var(--color-secondary);
    }